<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p> You have saved these dogs: </p>
<ul>
    {% for dog in dogs %}
      <li> {{ dog }} </li>
    {% endfor %}
</ul>
    <form action="/view_dog" method=post>
      <label for="dogname"> Choose a Dog </label>
      <select id="dogname" name="dogname">
        {% for dog in names %}
        <option value="{{dog}}">{{dog}}</option>
        {% endfor %}
      </select>
      <input type='submit' value='See dog'>
    </form>
</body>
</html>